/*************
  Blue Theme
 *************/

table th.tablesorter-header.resizable-false {
	background-color: #e6bf99;
}


/* ensure box-sizing is set to content-box, if using jQuery versions older than 1.8;
 this page is using jQuery 1.4 */

*,
*:before,
*:after {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

/* overflow table */
.b-table-sticky-header {
    overflow-y: overlay !important;
    max-height: 100% !important;
}

.bpeditorWrapper {
	overflow-x: auto;
	overflow-y: hidden;
	width: auto;
}

.bpeditorWrapper table {
	width: auto;
	table-layout: fixed;
}

.bpeditorWrapper .tablesorter td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-width: 50px;
}

.bpeditorWrapper .tablesorter th {
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 50px;
}