/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 20%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	border-bottom: 16px solid #3498db;
	margin: 15% 38%;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	/* Safari */
	animation: spin 2s linear infinite;
}

.selectBox {
		border: 1px solid #55aaff;
		background-color: rgba(75, 160, 255, 0.3);
		position: fixed;
	}
		

.popup {
  position: absolute;
  left: 50%;
  top: 20%;
  display: inline-block;
  cursor: pointer;
  margin-top: -15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popup-inner {
  visibility: hidden;
  width: 260px;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -140px;
}

/* Popup arrow */
.popup .popup-inner::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

		

.label {
	position: absolute;
	left: 0%;
	top: 20%;
	display: inline-block;
	cursor: pointer;
	margin-top: -15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* The actual label */
  .label .label-inner {
	visibility: hidden;
	width: 80px;
	background-color: #555;
	color: #fff;
	border-radius: 6px;
	padding: 2px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 0%;
	margin-left: -130px;
	margin-bottom: 30px;
  }
  
  /* label arrow */
  .label .label-inner::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 100%;
	margin-left: -5px;
	border-width: 5px;
	width: 10px;
	height: 10px;
	border-style: solid;
	border-color: transparent #555  #555 transparent;
  }
  
  /* Toggle this class - hide and show the label */
  .label .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
  }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Safari */
@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}